.chat-header__container {
  padding: 18px;
  align-items: center;
  color: var(--white);
  border-radius: 0;
  box-shadow: 0 2px 7px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-shrink: 0;
  background-color: var(--primary-color);
  gap: 16px;
}


@media screen and (max-width: 414px) {
  .chat-header__container {
  }
}

.chat-header__icon img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.chat-header__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}